:root {
    --background-color: #0B0014;
    --paragraph-color: #FFFFFF;
    --title-color: #EF233C;
    --generic-text-color: #F5E9E2;
    --price-color: #FDC500;
    --category-border-color: #ff8000;
    --font-family: 'Times New Roman';
}

body {
    background-color: var(--background-color);
    margin: 1rem;
    padding: 0;
    overflow: hidden;
}

.category-cell {
    display: flex;
    justify-content: center;
}

.category-name {
    margin: 0;
    font-weight: bold;
    color: var(--generic-text-color);
    font-size: 1.5vw;
}

.pizze {
    height: 100%;
    width: 100%;
    column-count: 5;
    column-gap: 1vw;

    margin. 0;

    color: var(--generic-text-color);
    font-family: var(--font-family);
}

.pizza-cell {
    break-inside: avoid;

    height: 6.5cqh;  /* Questo va automatizzato */
    margin: 0;
    display: flex;
    flex-direction: column;
}

.pizza-header {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza-name {
    margin: 0;
    font-weight: bold;
    text-align: left;
    color: var(--title-color);
    font-size: 1.2vw;
}

.pizza-price {
    margin: 0;
    font-weight: bold;
    text-align: right;
    color: var(--price-color);
    font-size: 1.1vw;
}

.pizza-body {
    margin: 0;
    align-items: top;
    text-align: left;
}

.pizza-ingredients {
    margin: 0;
    padding: 0;
    font-size: 0.9vw;
}

.upper-bottom-border {
  border-top: 0.25rem solid var(--category-border-color);
  border-bottom: 0.25rem solid var(--category-border-color);
  border-left: none;
  border-right: none;

  padding: 0.6rem 0;    /* To add space between the text and the line*/
  margin-right: 2rem;   /* To make the line finish before the edge of the box */
}
