:root {
    --background-color: #0B0014;
    --paragraph-color: #FFFFFF;
    --title-color: #EF233C;
    --generic-text-color: #F5E9E2;
    --generic-text-outline-color: #000000;
    --generic-text-shadow-color: #BBBBBB;
    --price-color: #FDC500;
    --category-border-color: #ff8000;
    --font-family: 'Times New Roman';
}

body {
    background-color: var(--background-color);

    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: green;
}

.category-cell {
    display: flex;
    justify-content: center;
}

.category-name {
    margin: 0;
    font-weight: bold;
    color: var(--generic-text-color);
    font-size: 3vh;

    /* It makes sense to use px instead of rem cuz there must be a difference and it has to be minimal */
    text-shadow:
      -1px -1px 0 var(--generic-text-outline-color),
       1px -1px 0 var(--generic-text-outline-color),
      -1px  1px 0 var(--generic-text-outline-color),
       1px  1px 0 var(--generic-text-outline-color),
       0.05em 0.05em var(--generic-text-shadow-color);
}

/* This is to add a margin to everything */
.full-screen-margin {
    position: fixed;
    inset: 1vh;
    overflow: hidden;
}

.pizze {
    background-color: red;

    color: var(--generic-text-color);
    font-family: var(--font-family);
}

.pizze-grid {
    -webkit-column-count: 5;
    -webkit-column-gap: 1vw;
    -moz-column-count: 2;
    -moz-column-gap: 1vw;
    column-count: 5;
    column-gap: 1vw;

    column-fill: auto;
}

.pizza-cell {
    break-inside: avoid;
    height: calc((100vh - 1vh*2) / 15);

    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-color: blue;
}

.pizza-header {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza-name {
    margin: 0;
    font-weight: bold;
    text-align: left;
    color: var(--title-color);
    font-size: 1.2vw;
}

.pizza-price {
    margin: 0;
    font-weight: bold;
    text-align: right;
    color: var(--price-color);
    font-size: 1.1vw;
}

.pizza-body {
    margin: 0;
    align-items: top;
    text-align: left;
}

.pizza-ingredients {
    margin: 0;
    padding: 0;
    font-size: 0.9vw;
}

.upper-bottom-border {
  border-top: 0.35vh solid var(--category-border-color);
  border-bottom: 0.35vh solid var(--category-border-color);
  border-left: none;
  border-right: none;

  padding: 2% 0;    /* To add space between the text and the line*/
  margin-right: 10%;   /* To make the line finish before the edge of the box */
}
