:root {
    --background-color: #0B0014;
    --paragraph-color: #FFFFFF;
    --title-color: #EF233C;
    --generic-text-color: #F5E9E2;
    --price-color: #FDC500;
    --font-family: 'Times New Roman';
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.category-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-name {
    margin: 0;
    font-weight: bold;
    color: var(--generic-text-color);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    text-align: center;
}

.pizze {
    display: grid;
    height: 100vh;
    width: 100vw;
    padding: 1vh 1vw;
    box-sizing: border-box;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    gap: 0.5vh 1vw;

    color: var(--generic-text-color);
    font-family: var(--font-family);
}

.pizza-cell {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.pizza-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza-name {
    font-weight: bold;
    text-align: left;
    color: var(--title-color);
    font-size: clamp(0.8rem, 1.2vw, 1.2rem);
}

.pizza-price {
    font-weight: bold;
    text-align: right;
    color: var(--price-color);
    font-size: clamp(0.7rem, 1.1vw, 1.1rem);
}

.pizza-body {
    margin: 0;
    align-items: top;
    text-align: left;
}

.pizza-ingredients {
    margin: 0;
    padding: 0;
    font-size: clamp(0.7rem, 0.9vw, 0.9rem);
}