.upper-bottom-border {
  border-top: 0.25vh solid var(--category-border-color);
  border-bottom: 0.25vh solid var(--category-border-color);
  border-left: none;
  border-right: none;

  padding: 0.5% 0 2% 0;    /* To add space between the text and the line*/
  margin-right: 10%;   /* To make the line finish before the edge of the box */
}
